@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/norse-bold-webfont.woff') format('woff'),
    url('fonts/norse-kawl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: row;
}

.img-sidebar {
    position: relative;
}

.img-sidebar img{
    display: block;
    width: 560px;
    height: 100vh;
}

.img-credits {
    font-size: 12px;
    position: absolute;
    left: 160px;
    bottom: 10px;
    color: rgb(202, 202, 202);
} 

.img-credits a {
    color: rgb(236, 236, 236);
}

.img-logo-section {
    position: absolute;
    top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(13, 13, 13, 0.5);
}

.img-logo-section > img {
    margin-left: 160px;
    width: 100px;
    height: 130px;
}

.img-logo-section > p {
    align-self: center; /* vertically */
    color: white;
    font-family: 'Norse-Bold', sans-serif;
    font-size: 72px;
}

.content-section{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.content-section > p{
    
    margin: 70px 0px 0px 70px;
    height: fit-content;
    font-size: 21px;
}

.content-section > p:nth-of-type(3), .content-section > p:nth-of-type(2){
    margin-top: 20px;
}

.content-section > p:nth-of-type(4) {
    margin-top: 30px;
}

.form-section {
    box-shadow: 0px 3px 5px rgb(210, 210, 210);
    margin-top: 60px;
    background-color: white;
    height: 280px;
}

.form-section p {
    padding: 20px 0 0 70px;
    font-size: 21px;
}

.form-container {
    padding: 20px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative; /* for submit button */
}

.form-input {
    width: 270px;
    margin-bottom: 20px;
}

.submit-button {
    position: absolute;
    top: 260px;
    left: 70px;
}

button {
    background-color: #999999;
    background-color: #35412b; 
    border: none;
    font-size: 16px;
    padding: 12px 40px;
    padding: 0;
    border-radius: 7px;
    cursor: pointer;
}

.front {
    display: block;
    transform: translate(0, -3px);
    background-color: #596D48;
    padding: 12px 40px;
    border-radius: 7px;
    transition: transform 150ms;
}

button:hover .front {
    background-color: #697B5A;
    transform: translateY(-4px);
}

button:active .front {
    background-color: #697B5A;
    transform: translateY(-1px);
}

input {
    width: 250px;
    height: 25px;
    padding: 3px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    outline: none;
}


input:focus {
    border: 2px solid rgb(44, 148, 183);
    box-shadow: 1px 2px 4px rgb(176, 176, 176);
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
}


input:not([type="password"]):valid + span::after {
    content: "✓";
    color: green;
}

input:not([type="password"]):not(:focus):not(:placeholder-shown):invalid + span::after {
    content: "✖";
    color: red;
}

label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.login {
    width: fit-content;
    font-size: 18px;
    margin-top: 80px;
    margin-left: 70px;
}

.login a {
    text-decoration: none;
    color: #596D48;
}

.login a:hover {
    text-decoration: underline;
}

.password-error:focus {
    border-color: red;
}

.password-error + span::after {
    content: "Passwords don't match";
    color: red;
}

.password-rules {
    position: absolute;
    bottom: 80px;
    right: 400px;
    /* display: none; */
}

ul {
    margin-left: 20px;
}