@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: row;
}

.img-sidebar {
    position: relative;
}

.img-sidebar img{
    display: block;
    width: 560px;
    height: 100vh;
}

.img-credits {
    font-size: 12px;
    position: absolute;
    left: 160px;
    bottom: 10px;
    color: rgb(202, 202, 202);
} 

.img-credits a {
    color: rgb(236, 236, 236);
}

.img-logo-section {
    position: absolute;
    top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(13, 13, 13, 0.5);
}

.img-logo-section > img {
    margin-left: 160px;
    width: 100px;
    height: 130px;
}

.img-logo-section > p {
    align-self: center; /* vertically */
    color: white;
    font-family: 'Norse-Bold', sans-serif;
    font-size: 72px;
}

.content-section{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.content-section > p{
    
    margin: 70px 0px 0px 70px;
    height: fit-content;
    font-size: 21px;
}

.content-section > p:nth-of-type(3), .content-section > p:nth-of-type(2){
    margin-top: 20px;
}

.content-section > p:nth-of-type(4) {
    margin-top: 30px;
}

.form-section {
    box-shadow: 0px 3px 5px rgb(210, 210, 210);
    margin-top: 60px;
    background-color: white;
}

.form-section p {
    padding: 20px 0 0 70px;
    font-size: 21px;
}

.form-container {
    padding: 20px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative; /* for submit button */
}

.form-input {
    width: 200px;
    margin-bottom: 20px;
}

.submit-button {
    position: absolute;
    top: 250px;
    left: 70px;
}

button {
    background-color: #596D48;
    border: none;
    font-size: 16px;
    padding: 12px 40px;
    border-radius: 7px;
    cursor: pointer;
}

input {
    width: 250px;
}

label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.login {
    font-size: 18px;
    margin-top: 100px;
    margin-left: 70px;
}

.login a {
    text-decoration: none;
    color: #596D48;
}